<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bug Reports</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">

    <header>
    <h1>🐞 Bug Reports</h1>
    <nav class="main-nav">
        <a href="{{ url_for('index') }}">🧠 Home</a>
        <a href="{{ url_for('test_cases') }}">📋 Test Cases</a>
        <a href="{{ url_for('bug_reports') }}">🐞 Bug Reports</a>
        <a href="{{ url_for('checklists') }}">✅ Checklists</a>
        <a href="{{ url_for('test_plan') }}">🧪 Test Plan</a>
    </nav>
    </header>

    <main>
    <section>
        <h2>🐞 Bug Reports</h2>

        {% if issues %}
        <div class="bug-list">
            {% for issue in issues %}
            <div class="bug-card">
                <div class="bug-title">
                    #{{ issue.number }} - {{ issue.title }}
                </div>
                <span class="bug-status {% if issue.state == 'open' %}status-open{% else %}status-closed{% endif %}">
                {{ issue.state }}
                </span>
                <p><a href="{{ issue.html_url }}" target="_blank">Открыть на GitHub</a></p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Багов нет!</p>
        {% endif %}
    </section>
    </main>

{% include 'footer.html' %}

</body>
</html>